$radius: 4rem;

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    .weather__title {
        color: white;
        font-size: 3rem;
        padding-top: 1rem;
        font-weight: 500;
    }
    .weather__block {
        display: flex;
        margin: 4rem;
        gap: 8rem;
        align-items: center;
        
        .weather__block_today {
            width: 40rem;
            height: 45rem;
            border-radius: $radius;
            background-color: rgb(15, 117, 233, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            
        }
    }
    
}