$radius: 4rem;

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    .weather__title {
        color: white;
        font-size: 3rem;
        padding-top: 1rem;
        font-weight: 500;
    }
    .weather__block {
        display: flex;
        margin: 4rem;
        gap: 8rem;
        align-items: center;
        .weather__block_now {
            width: 40rem;
            height: 60rem;
            border-radius: $radius;
            background-color: rgb(15, 117, 233, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3rem;
            .weather__block_now_title {
                padding-top: 2rem;
                font-size: 2rem;
                color: rgb(8, 41, 78);
            }
            .weather__block_now_section {
                width: 30rem;
                height: 20rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: $radius;
                background-color: rgb(206, 206, 206, 0.5);
                
                .weather__block_now_section_cur {
                    font-size: 10rem;
                    font-weight: 700;
                    color: rgb(8, 41, 78);
                    .weather__block_now_section_cur_ico {
                        width: 9rem;
                    }
                    .weather__block_now_section_cur_c {
                        font-size: 5rem;
                        margin-top: -3rem;
                        font-weight: 500
                    }
                }
                
            }
        }
        .weather__block_today {
            @extend .weather__block_now;
            width: 40rem;
            height: 45rem;
        }
    }
    
}