.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrap__title {
        color: white;
        font-size: 3rem;
        padding-top: 1rem;
        font-weight: 500;
    }
    .wrap__block_weatSelect {
        display: flex;
        margin-top: 2rem;
        gap: 1rem;
        .wrap__block_weatSelect_text {
            font-size: 2.2rem;
            color: white;
        }
    }
    .wrap__weather {
        display: flex;
        margin: 2rem;
        gap: 8rem;
        align-items: center;
    }
}