$radius: 4rem;
.wrapper {
    width: 144rem;
    height: 90rem;
    margin: 0 auto;
    background-image: url(./images/png/clear.png);
    background-size: cover;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper__section {
        width: 90%;
        height: 85%;
        background-color: rgba(24, 40, 185, 0.5);
        border-radius: $radius;
    }
}